.about-page {
  font-family: "Poppins", sans-serif;
  background: #f7f8fa;
}

/* HERO */
.about-hero {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding: 100px 8%;
  gap: 60px;
  align-items: center;
}

.about-hero-text h1 {
  font-size: 46px;
  margin: 20px 0;
}

.about-hero-text p {
  max-width: 520px;
  color: #555;
}

.breadcrumb {
  font-size: 14px;
  color: #999;
}

.about-hero-images {
  position: relative;
}

.about-hero-images img , video {
  width: 260px;
  border-radius: 22px;
  position: absolute;
  box-shadow: 0 30px 60px rgba(0,0,0,0.15);
}

.about-hero-images img:nth-child(1) {
  top: 0;
  left: 0;
}
.about-hero-images img:nth-child(2) {
  top: 120px;
  left: 180px;
}
.about-hero-images img:nth-child(3) {
  top: 260px;
  left: 40px;
}

/* DESCRIPTION */
.about-description {
  padding: 0 8% 80px;
  max-width: 900px;
}

.about-description p {
  margin-bottom: 20px;
  color: #555;
  line-height: 1.7;
}

/* PLATFORM */
.platform-section {
  padding: 80px 8%;
}

.platform-section ul {
  list-style: none;
  padding: 0;
}

.platform-section li {
  margin-bottom: 12px;
  font-weight: 500;
}

/* EXPERIENCE */
.experience-section {
  display: flex;
  gap: 80px;
  padding: 80px 8%;
}

.experience-section h3 {
  font-size: 42px;
  color: #f4b400;
}

/* FEATURES */
.features-section {
  padding: 100px 8%;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.features-grid h4 {
  margin-bottom: 10px;
}

/* WHY */
.why-section {
  padding: 100px 8%;
  background: #fff;
}

.why-section ul {
  list-style: none;
  padding: 0;
}

.why-section li {
  margin-bottom: 10px;
}

.tagline {
  margin-top: 40px;
  font-size: 28px;
  color: #f4b400;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-hero {
    grid-template-columns: 1fr;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  .experience-section {
    flex-direction: column;
    gap: 40px;
  }
}
